src/containers/container_llm.sif
src/tokens/
src/logs/
src/checkpoints*/
src/llm_versions/
*launch.json*
*saved_clf_adapters*
*clf-new_format*
*cache*

src/pred_results/
src/models/
src/result_logs/
src/llm_versions/
src/adapters/
src/preprocessed/
